body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body h1, body h2 {
  font-weight: 300;
  text-transform: uppercase;
}

/* Section: Top Navigation */
.navbar .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.navbar .nav-item.active {
  border-left: solid 2px #979797;
}

/* Section: Shocase - Carousel */
.carousel-item {
  height: 650px;
}

.carousel-item h1 {
  font-weight: 100;
}

.carousel-image-1 {
  background: url("../images/image1.jpg") no-repeat;
  background-size: cover;
}

.carousel-image-2 {
  background: url("../images/image2.jpg") no-repeat;
  background-size: cover;
}

.carousel-image-3 {
  background: url("../images/image3.jpg") no-repeat;
  background-size: cover;
}

/* Section: Home Icons */
.fa {
  font-size: 55px;
}

/* Section: Home Heading */
#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../images/lights.jpg");
  background-attachment: fixed;
  background-repeat: repeat-xs;
  text-align: center;
  color: #fff;
}

#home-heading .dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Section: Video Play */
#video-play {
  position: relative;
  min-height: 200px;
  background: url("../images/media.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play .dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-play a {
  color: #fff;
}

/* Section: Footer */
#main-footer {
  background-color: #000;
  color: #fff;
}

/* ================ PAGE: ABOUT US ================ */
/* Section: Page Header */
#page-header {
  height: 400px;
  background: url("../images/image1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  border-bottom: solid 1px #eee;
  padding-top: 150px;
}

#about img {
  margin-top: -50px;
}

/* ================ PAGE: SERVICES ================ */
#services .fa-check {
  font-size: 1rem;
  padding-right: 5px;
}

/* ================ PAGE: SERVICES -> FAQs ================ */
#faq .card {
  border: #444;
}

#faq .card a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body, #faq .card-header {
  background: #333;
}
